/* CARD CSS */
#card {
    margin: auto;
    width: 23rem;
    height: auto;
    text-align: center;
    color: white;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(65, 65, 65, 0.325);
    transition: ease .2s all;
    cursor: pointer;
}
/* All card details CSS */
#card #card-details {
    padding: 1rem !important;
}

/* Specifying 'p' tag color for this  */
#card p {
    color: white;
}

/* Flex Disply to align all cards */
.user-cards {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
} 

.column > h4 {
    margin-top: -10px;
}


/* Active and Non-Active Card Effects */
#card.active {
    opacity: 1;
}

#card.non-active {
    opacity: 0.5;
    transform: scale(0.8);
}

#card.non-active:hover {
    opacity: 0.8;
    transform: scale(0.9);
}


/* Responsiveness for desktops (big screens) */
@media only screen and (min-width: 1024px) {
/* !important is used to bypass default library's CSS */
    
    .swiper-slide {
        padding-top: 1rem !important;
        padding-bottom: 1rem !important; 
        width: fit-content !important;
    }
}
/* Responsiveness up to smartphone/some tablets (small/medium screens) */
@media only screen and (max-width: 768px) {

    /*  
        Changing some CSS of the swiper 
        !important was used to bypass the default swiper CSS
     */
    .swiper-slide.swiper-slide-next {
        margin: auto !important;
    }
    .swiper-slide {
        padding-top: 1.5rem !important;
        padding-bottom: 1.5rem !important;
    }

    /* Changing some Card CSS */
    #card {
        height: auto;
        margin: auto;
        width: 20rem;
        color: white;
        cursor: none;
    }

    #card div {
        margin-bottom: -10px;
    }

}

