.card-p {
    color: white;
}

#card {
    color: white;
    text-align: center;
    width: 23rem;
    height: 15rem;
    margin: 1rem;
    border-radius: 10px;
    box-shadow: 0 10px 30px rgba(65, 65, 65, 0.325);
    transition: ease .2s all;
   
}


.user-cards {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
} */

.user-cards > div {
    margin: 10px;
}

#card.non-active:hover {
    opacity: 0.8;
    transform: scale(0.9);
}
#card.active:hover {
    transform: scale(1.05);
}

.owner-details {
    padding-left: 5rem;
    text-align: left;
}
.active {
    opacity: 1;
}

.non-active {
    opacity: 0.5;
    transform: scale(0.8);
}

@media only screen and (max-width: 992px) {



}

