/* Card CSS */
#card {
    margin: auto;
    width: 23rem;
    height: auto;
    text-align: center;
    color: white;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(65, 65, 65, 0.325);
    transition: ease .2s all;
    cursor: pointer;
}
#card #card-details {
    padding: 5% !important;
}

.card-p {
    color: white;
}

/* Using Flex Disply to align the elements */
.user-cards {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
} 

.left-column{
    text-align: left;
}
.right-column {
    text-align: right;
}

#card.active {
    opacity: 1;
}

#card.non-active {
    opacity: 0.5;
    transform: scale(0.8);
}

#card.non-active:hover {
    opacity: 0.8;
    transform: scale(0.9);
}
#card.active:hover {
    transform: scale(0.95);
}


@media only screen and (min-width: 1024px) {
/* !important is used to bypass default library's CSS */
    
    .swiper-slide {
        padding-top: 1rem !important;
        padding-bottom: 1rem !important; 
    }
}

@media only screen and (max-width: 768px) {
    .swiper-slide.swiper-slide-next {
        margin: auto !important;
    }
    .swiper-slide {
        padding-top: 1rem !important;
        padding-bottom: 1rem !important;
    }

    #card {
        height: auto;
        margin: auto;
        width: 20rem;
        color: white;
        cursor: none;
    }

    #card div {
        margin-bottom: -10px;
    }

    #card.non-active {
        opacity: 0.3;
        transform: scale(1);
    }

    #card.non-active:hover {
        opacity: 1;
        transform: scale(1);
    }
    #card.active:hover {
        transform: scale(1);
    }

}

