.card-p {
    color: white;
}

/* Card CSS */
#card {
    color: white;
    text-align: center;
    width: 23rem;
    height: 15rem;
    margin: auto;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(65, 65, 65, 0.325);
    transition: ease .2s all;
}

/* Using Flex Disply to align the elements */
.user-cards {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

} 

/* .user-cards > div {
    margin: 10px;
} */

#card.non-active:hover {
    opacity: 0.8;
    transform: scale(0.9);
}
#card.active:hover {
    transform: scale(0.95);
}

.owner-details {
    padding-left: 5rem;
    text-align: left;
}
.active {
    opacity: 1;
}

.non-active {
    opacity: 0.5;
    transform: scale(0.8);
}

/* !important is used to bypass default library's CSS */
.swiper-slide {
    margin: 15px !important;
    width: 350px !important;
    height: 300px !important;
}


@media only screen and (max-width: 768px) {
    #card {
        color: white;
        text-align: center;
        width: 22rem;
        height: 14rem;
        margin: 0;
      }

    .swiper-slide {
        margin: 12px !important;
        width: 350px !important;
        height: 230px !important;
    }

    .non-active {
        opacity: 0.7;
        transform: scale(1);
    }

}

