#user {
    background: white;
    width: 25rem;
    text-align: left;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(100, 100, 100, 0.325);
}


#users-transaction {
    display: inline-flex;
    flex-wrap: wrap;
}
#users-transaction > div {
    margin: .5rem;
}

.user-prof-pic {
    border-radius: 50px;
    margin-top: 1.5rem;
    margin-left: 1rem;
}

.username {
    color: #272727;
    font-weight: 700;
    font-size: 18px;
}

.expense {
    color: red;
    font-size: 22px;
    text-align: right;
    padding-top: 1rem;
    padding-right: 2rem;
}

/* Edit columns */
.column-1 {
    width: 18%;
    float: left;
}
.column-2 {
    width: 45%;
    float:left;
    padding-left: 1rem;
}
.column-3 {
    width: 30%;
    float:left;
}

@media only screen and (max-width: 992px) {

    #user {
        width: 21rem;
        text-align: left;

    }
    .username {
        color: #272727;
        font-weight: 700;
        font-size: 16px;
    }
    .expense {
        color: red;
        font-size: 18px;
        text-align: right;
        padding-top: 1rem;
        padding-right: 2rem;
    }

    #users-transaction {
        justify-content: left;
        align-items: left;
    }

}