#user {
    background: white;
    width: 25rem;
    text-align: left;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(100, 100, 100, 0.325);
}

#transaction-users {
    display: inline-flex;
    flex-wrap: wrap;
}
#transaction-users > div {
    margin: .5rem;
}

.user-prof-pic {
    border-radius: 50px;
    margin-top: 1.5rem;
    margin-left: 1rem;
}

.username {
    color: #272727;
    font-weight: 700;
    font-size: 18px;
}

.expense {
    color: red;
    font-size: 22px;
    text-align: right;
    padding-top: 1rem;
    padding-right: 2rem;
}

/* Edit columns */
.column-1 {
    width: 15%;
    float: left;
}
.column-2 {
    width: 50%;
    float:left;
    padding-left: 1rem;
}
.column-3 {
    width: 30%;
    float:left;
}
