@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

html {
    background-color: #f2f2f2;
    padding-bottom: 5rem;
    font-family: 'Montserrat', sans-serif;
    overflow:scroll;
}

.App {
    margin:20px;
}

/* Headings and Paragraphs */
/* h1 {
    font-size: 36px;
}
h2 {
    font-size: 24px;
}
h3 {
    font-size: 18px;
}
h4 {
    font-size: 14px;
}
*/
p {
    font-size: 16px;
    color:#9d9d9d
} 

.warning-sign {
    text-align: center;
    opacity:0.5;
    font-weight: 400;
}


/* Creating 2 column section */
.column {
    float:left;
    width: 50%;
}
/* Creating 3 column section */

.three-column {
    float:left;
    width: 33.3%
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}


@media only screen and (max-width: 992px) {
    html {
        padding-bottom: 0;
    }
    
    .App {
        margin:auto;
    }
}