/* TRANSACTIONS CSS */
.user-transactions {
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    padding-top: 2rem;
}



/* Tab Styling */
.transaction-tabs {
    text-align: center;
}

.transaction-panel {
    text-align: left;
}


/* Top bar of transations section (search bar, icons) */

.transaction-top-bar {
    display: flex;
}

/* Search bar styling */
.search-bar {
    text-align: left;
    margin-top: 15px;
    padding: 5px;
    width: 250px;
    height: 25px;
    background-color: rgb(233, 233, 233);
    font-family: 'Montserrat', sans-serif;
   
    border-style: none;
    outline-style: white;
}
::placeholder {
    opacity: 0.5;
}



/* Icons */
.icons-transaction {
    padding-top: 1rem;
}

.icons-transaction svg {
    padding-left: 2rem;
    color: white;
    stroke: rgb(84, 84, 84);
    stroke-width: 10px;
    font-weight: lighter;
    transition: ease .2s all;
    cursor: pointer;
}

.icons-transaction svg:hover {
    transform: scale(1.2);
    stroke: blue;
}


/* Edit Radio Optios of Wallet/Settings/ChartPie */

[type=radio] { 
    opacity: 0;
}

[type=radio]:checked + svg {
    transform: scale(1.2);
    stroke: blue;
    stroke-width: 20px;
}

/* Edit React Tabs library */
.react-tabs__tab-list {
    font-weight: 700;
    border-bottom-color: rgb(221, 220, 220);
}

.react-tabs__tab {
    background-color: #F2F2F2 ;
    border: 0;
}

.react-tabs__tab--selected {
    border: solid rgb(255, 167, 34);
    border-width: 0 0 3px 0;
}

.react-tabs__tab:active{
    border: solid rgb(255, 167, 34);
    border:0;
}
.react-tabs__tab:focus:after {
    background-color: rgba(245, 245, 220, 0);
    
}

/* Responsiveness */

@media only screen and (max-width: 992px) {
    .icons-transaction svg:hover {
        transform: scale(1);
    }

    .search-bar {
        width:95%;
    }
    #user {
        width: 15rem;
        text-align: left;
    }
    .expense {
        color: red;
        font-size: 18px !important;
        text-align: right;
        padding-top: 1rem;
        padding-right: 2rem;
    }

    

}
@media only screen and (max-width: 768px) {
    .icons-transaction {
        display: none;
    }
    .search-transaction {
        width: 100% !important;
    }
}
