/* TRANSACTIONS CSS */
.user-transactions {
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    padding-top: 2rem;
}
/* Search bar styling */
.search-bar {
    text-align: left;
    margin-top: 15px;
    padding: 5px;
    width: 250px;
    height: 25px;
    background-color: rgb(233, 233, 233);
    font-family: 'Montserrat', sans-serif;
   
    border-style: none;
    outline-style: white;
}
::placeholder {
    opacity: 0.5;
}

/* Tab Styling */
.transaction-tabs {
    text-align: center;
}

.transaction-panel {
    text-align: left;
}

/* Edit React Tabs library */
.react-tabs__tab-list {
    font-weight: 700;
    border-bottom-color: rgb(221, 220, 220);
}

.react-tabs__tab {
    background-color: #F2F2F2 ;
    border: 0;
}

.react-tabs__tab--selected {
    border: solid rgb(255, 167, 34);
    border-width: 0 0 3px 0;
}

.react-tabs__tab:active{
    border: solid rgb(255, 167, 34);
    border:0;
}
.react-tabs__tab:focus:after {
    background-color: rgba(245, 245, 220, 0);
    
}

/* Responsiveness */

@media only screen and (max-width: 992px) {
    .search-bar {
        width:95%;
    }
    #user {
        width: 15rem;
        text-align: left;
    }
    .expense {
        color: red;
        font-size: 18px !important;
        text-align: right;
        padding-top: 1rem;
        padding-right: 2rem;
    }

}
