.user-transactions {
    font-family: 'Montserrat', sans-serif;;
    font-size: 20px;
    padding-top: 5rem;
}

.transaction-tabs {
    text-align: center;
}

.transaction-panel {
    text-align: left;
}

.search-bar {
    text-align: left;
    margin-top: 15px;
    padding: 5px;
    width: 250px;
    height: 25px;
    background-color: rgb(233, 233, 233);
    border-style: none;
    outline-style: white;
}

